.DS_Store
.idea
*.log
tmp/

dwm/*
!dwm/config.h

.config/xmonad/*
!.config/xmonad/xmonad.hs
!.config/xmonad/xmonad.org
!.config/xmonad/cabal.project

.config/xmobar/xmobar/*

.config/emacs.termux/*
!.config/emacs.termux/config.org
!.config/emacs.termux/init.el
!.config/emacs.termux/install-script.sh