.DS_Store
.idea
*.log
tmp/

dwm/*
!dwm/config.h

.config/xmonad/*
!.config/xmonad/xmonad.hs
!.config/xmonad/xmonad.org
!.config/xmonad/cabal.project

.config/xmobar/xmobar/*
# (.config/xmobar/* is unaffected)

.config/guix/*
!.config/guix/config.scm

.config/syncthing/*
# (add !something here later)


## Emacs .gitignore in another file

