[Desktop Entry]
Name=EXWM
Comment=Emacs Window Manager
Exec=sh /home/mio/.emacs.d/exwm/start-exwm.sh
TryExec=sh
Type=Application
X-LightDM-DesktopName=exwm
DesktopName=exwm
